body {
  background-color: bisque;
  height: calc(100%-80px);
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}
/* einstellung oberste box */
.navbar {
  position: relative;
  font-family: "Times New Roman", Times, serif;
  border: solid 2px;
  height: 80px;
  width: 103%;
  right: 8px;
  top: -9px;
}

.bookmark {
  position: sticky;
  top: -56px;
  border-radius: 1000000%;
}

.box1 {
  border: solid 2px black;
  margin: 20px;
  height: 40%;
  width: 80%;
}

.box2 {
  border: solid 2px black;
  margin: 20px;
  height: 40%;
  width: 80%;
}

.box3 {
  border: solid 2px black;
  width: 80%;
  height: 40%;
}

.box4 {
  border: solid 2px black;
  margin: 20px;
  height: 40%;
  width: 80%;
}

.box5 {
  border: solid 2px black;
  margin: 20 0 0 px;
  height: 40%;
  width: 80%;
}

.foot {
  background-color: aquamarine;
  position: fixed;
  border: solid 2px;
  height: 80px;
  width: 100%;
  bottom: 0px;
  margin-top: 10px;
  left: 0px;
  display: flex;
  justify-content: space-around;
}

.stelle {
  text-align: center;
}

.question1 {
  bottom: 10px;
  left: 10px;
}

.question2 {
  left: 90px;
  bottom: 10px;
}

.question3 {
  left: 170px;
  bottom: 10px;
}

.foot-picture1 {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: gb(198, 223, 171);
}

.foot-picture2 {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: gb(198, 223, 171);
}
.foot-picture3 {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: rgb(198, 223, 171);
}
